.tuto_box{
  width: 800px;
  text-align: center;
  margin: 30px auto;
  border: 1px solid pink;
  border-bottom: none;
}
.tuto_box li{
  border-bottom: 1px solid pink;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 10px;
}
.tuto_box li h2{
  margin-bottom: 10px;
}
.tuto_box li .tuto_time{
  margin-top: 10px;
}