.App {
  text-align: center;
}
.background{
  background: url('./background.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 40px 0;
}

.background h1{
  font-weight: bold;
}