.contents_add_box{
  width: 100%;
  margin-bottom: 10px;
  cursor: grab;
  .add_input{
    input{
      width: 95%;
      padding: 5px;
      border: 1px solid rgb(127, 127, 127);
      border-radius: 5px;
    }
  }
  .btns{
    button{
      background-color: #fff;
      border: none;
      cursor: pointer;
      padding: 5px;
      margin: 10px 0px 0px 5px;
      border-radius: 5px;
    }
    .add_btn{
      margin-left: 0;
    }
  }
}