.DiaryEditer{border: 1px solid grey; text-align: center;padding: 20px;}
.DiaryEditer input, textarea{margin-bottom: 20px;width: 500px;padding: 10px;}
.DiaryEditer textarea{height: 150px;}
.DiaryEditer select {width: 300px;padding: 10px;margin-bottom: 20px;}
.DiaryEditer button {width: 500px;padding: 10px;cursor: pointer;}

/* List */
.DiaryList{border: 1px solid grey;; padding: 20px;margin-top: 20px;}
.DiaryList h2{text-align: center;}

/* Item */
.DiaryItem{background: rgb(240, 240, 240);margin-bottom: 10px; padding: 20px;}
.DiaryItem .info{border-bottom: 1px solid grey;padding-bottom: 10px;margin-bottom: 10px;}
.DiaryItem .date{color: grey;}
.DiaryItem .content{font-weight: bold;margin-bottom: 30px;margin-top: 30px;}