.Header_Wrap{}
.Header_Wrap ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header_Wrap ul li{
  list-style: none;
  margin-right: 20px;
}
.Header_Wrap ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.Header_Wrap ul li a:hover{
  color: #a2a2a2;
}