.Button{
  background: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}
/* .Button_DEFAULT{} */
.Button_POSITIVE{background: rgb(100, 201, 100);color: #fff;}
.Button_NEGATIVE{background: rgb(253, 86, 95);color: #fff;}