.EmotionItem {
  background: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.EmotionItem .emotion_image {
  width: 50%;
  margin-bottom: 10px;
}