head
  meta(name="description" content="메타태그 설명")
  meta(name="keywords" content="메타태그, 퍼그, nodejs")
  meta(name="decription" decription=`${pageTitle}`)
  block metatag
  title #{pageTitle} | Wetube
  link(rel="stylesheet" href="https://unpkg.com/mvp.css")