.list{
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 3px rgb(44, 44, 44);
  cursor: grab;
  .user_name_box{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: 4;
      .user_name{
        margin-right: 5px;
        margin-top: 5px;
        background-color: aquamarine;
        padding: 3px;
        border-radius: 5px;
      }
    }
    .user_setting_box{
      position: relative;
      .setting_btn{
        display: block;
        width: 80px;
        cursor: pointer;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .setting_label{
        display: block;
        width: 80px;
        cursor: pointer;
        margin-top: 5px;
      }
    }
  }
  .title{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .text{
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .date{
    font-size: 12px;
  }
}